node_modules
.VSCodeCounter
del
test

saveNews.js
testYTOPT.js
testYTtranscript.js
newsWorker.js
updates.md

tempNewsData.js
.env

package-lock.json
generated.json
mockData.json
delete.js
mockData.js
test.js
testMock.js
tempCodeRunnerFile.js