node_module
.VSCodeCounter
del
test

# saveNews.js
# testYTOPT.js
# testYTtranscript.js
# newsWorker.js
# updates.md

# tempNewsData.js
.env
node_modules
package-lock.json
# generated.json
# mockData.json
# delete.js
# mockData.js
# test.js
# testMock.js
# tempCodeRunnerFile.js